.btn {
  margin-top: 25px;
}

body {
  text-align: center;
  background-image: url("http://s3.amazonaws.com/vnn-aws-sites/94/files/2015/12/f68358809d2ced20-pong-2.jpg");
}

form {
  background-color: #96e0c2;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 5%;
}

p {
  font-weight: bold;
}

#result {
  text-align: left;
  padding-left: 40%;
  padding-top: 5%;
}
